<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Stock Portfolio</title>

  <!-- Bootstrap Core CSS -->
  {% load staticfiles %}
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

  <!-- Custom Fonts -->
  {% load staticfiles %}
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
  {% load staticfiles %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

  <!-- Plugin CSS -->
  {% load staticfiles %}
  <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  {% load staticfiles %}
  <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Stock Suggestions</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Login/Signup</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="masthead text-center text-white d-flex">
    <div class="container my-auto">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h1 class="text-uppercase">
            <strong>Welcome to Stock Suggestions</strong>
          </h1>
          <hr>
        </div>
        <div class="col-lg-8 mx-auto">
          <p class="text-faded mb-5">Stock Management At Your Fingertips</p>
          <p class="text-faded mb-5">
          Choose From Ethical Investment, Growth Investment, Index Investment, Qulaity Investment and Value Investment</p>
          <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Find Out More</a>
        </div>
      </div>
    </div>
  </header>

  <section class="bg-primary" id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <h2 class="section-heading text-white">What we do!</h2>
          <hr class="light my-4">
          <p class="text-faded mb-4">Invest Your Capital Wisely in Profitable Stocks Depending on the Investment Strategy</p>
          <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">Get Started!</a>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-dark text-white" id="services">
    <div class="row">
      <div class="col-md-6">
        <form action="/signup" method="get" enctype="multipart/form-data">
          <div class="container text-center">
            <h3 class ="mb-4">Signup</h3>
          </div>
          <div class="field-wrap">
            <div style="width:34%;margin-left:30px;float:left;"><label>
              Username<span class="req"></span>
            </label></div>
            <input style="width:40%;margin-bottom:10px;" type="text" name="name" id="name" required autocomplete="off" />
          </div>

          <div class="field-wrap">
            <div style="width:34%;margin-left:30px;;float:left;"><label>
              Email Address<span class="req"></span>
            </label></div>
            <input style="width:40%;margin-bottom:10px;" type="email" name="email" id="email" />
          </div>

          <div class="field-wrap">
            <div style="width:34%;margin-left:30px;;float:left;"><label>
              Password<span class="req"></span>
            </label></div>
            <input style="width:40%;margin-bottom:10px;" type="password" name="password" id="password" required autocomplete="off"/>
          </div>

          <div class="field-wrap">
          <div style="width:34%;margin-left:30px;;float:left;"><label>
            Retype Password<span class="req"></span>
          </label></div>
          <input style="width:40%;margin-bottom:10px;" type="password" name="password1" id="password1" required autocomplete="off"/>
          </div>
          {% if signup %}
          <a style="margin-left:30px;" href=""><small>Signup Succesful. Please Login</small></a><br>
          {% endif %}
          {% if userexists%}
          <a style="margin-left:30px;" href=""><small>Username already taken. Please register with a new username</small></a><br>
          {% endif %}
          {% if signupfalse%}
          <a style="margin-left:30px;" href=""><small>Passwords do not mach. Please check the entered credentials</small></a><br>
          {% endif %}
          <div class="container text-center">
          <button style="margin-top:10px;" class="btn btn-light btn-xl js-scroll-trigger" type="submit" class="button button-block"/>Signup</button>
          </div>

        </form>
      </div>

      <div class="col-md-6">
        <div class="container text-center">
            <h3 class ="mb-4">Login</h3>
        </div>
        <form action="/login" method="get" enctype="multipart/form-data">
          <div class="field-wrap">
            <div style="width:34%;float:left;"><label>
              Username<span class="req"></span>
            </label></div>
            <input style="width:40%;margin-bottom:10px;" type="text" name="username" id="username" required autocomplete="off"/>
          </div>

          <div class="field-wrap">
            <div style="width:34%;float:left;"><label>
              Password<span class="req"></span>
            </label></div>
            <input style="width:40%;" type="password" name="loginpassword" id="loginpassword" required autocomplete="off"/>
          </div>

          <div style="margin-top:10px;" class="field-wrap">
          </div>
          {% if anchor%}
          <a href=""><small>No account with matching records found. Please check the credentials or Signup</small></a><br>
          {% endif %}
          <a href="/forgot" action="/forgot"><small>Forgot Password?</small></a>
          
          <center><button class="btn btn-light btn-xl js-scroll-trigger" name="submit" type="submit" class="button button-block"/>Log In</button></center><br/>
        </form>
      </div>
    </div>
  </section>
<section class="bg-primary" id="team">
  <div class="container text-center">
    <h2 class="text-faded mb-4">The Team!</h2>
    <h5 class="text-faded mb-4">Prabhu Tej </h5>
    <h5 class="text-faded mb-4">Naveen Mandapati</h5>
    <h5 class="text-faded mb-4">Anirudh</h5>
    <h5 class="text-faded mb-4">Kanika Gupta</h5>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Contact Us</h2>
        <hr class="my-4">
        <p class="mb-5">Any investment related queries or account support? Feel free to reach us!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>408-123-4223</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">support@stocksuggestions.com</a>
        </p>
      </div>
    </div>
  </div>
</section>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
{% if anchor or signup or signupfalse or userexists%}
  <script type="text/javascript"> location.hash = 'services' </script>
{% endif %}

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="vendor/scrollreveal/scrollreveal.min.js"></script>
<script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/creative.min.js"></script>


</body>

</html>
