<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">



    <!-- Bootstrap -->
    <link rel="stylesheet" href="/static/css/boot.css">

    <script type="text/javascript">
            /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    // Close the dropdown menu if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {

        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }</script>


    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    

    </head>

    <script type="text/javascript">

    var dayData= {{dayData|safe}};

    var dayCount=[]

    for(var j=0; j<dayData.length; j++) {
    dayCount.push(Number(dayData[j]))
    }


    </script>

    <script type="text/javascript">
    $(function () {
    Highcharts.chart('container', {

        title: {
            text: 'Portfolio Value'
        },
        xAxis: {
            categories: ['Day 1', 'Day 2', 'Day 3', 'Day 4', 'Day 5']
        },
        labels: {
            items: [{
                html: 'Total Portfolio Value',
                style: {
                    left: '50px',
                    top: '10px',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'black'
                }
            }]
        },
        credits: {
    enabled: false
    },
        series: [{
            name: 'Portfolio Value',
            data: dayCount
        }, {
            name: 'Trend',
            data: dayCount,
            marker: {
                lineWidth: 2,
                lineColor: Highcharts.getOptions().colors[3],
                fillColor: 'white'
            }
        }]
    });
    });
    </script>

    <script type="text/javascript">
          var stock_name = {{ stock_name | safe }};
          var stock_percent = {{ stock_percent  | safe }};
          $(function () {
          Highcharts.chart('container3', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Distribution of the Investment Strategy'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        legend: {
            align:'center'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Share',
            colorByPoint: true,
            data: [{
              name: stock_name[0],
              y: stock_percent[0]
            }, {
              name: stock_name[1],
              y: stock_percent[1]
            }, {
              name: stock_name[2],
              y: stock_percent[2]
            }, {
              name: stock_name[3],
              y: stock_percent[3]
          }]
        }]
    });
  });
    </script>

    <script type="text/javascript">
    var stock_name = {{ name | safe }};
    var stock_count = {{ count | safe }};

    var sName=[]
    var sCount=[]

    for(var i=0; i<stock_count.length; i++) {
    sName.push(stock_name[i])
    sCount.push(stock_count[i])
    }

    $(function () {

    Highcharts.chart('container2', {
        chart: {
            type: 'bar'
        },
        title: {
            text: 'Investment breakdown'
        },

        credits: {
    enabled: false
    },
        xAxis: {
            categories: sName
        },
        yAxis: {
            min: 0,
            title: {
                text: ''
            }
        },
        legend: {
            reversed: true
        },
        plotOptions: {
            series: {
                stacking: 'normal'
            }
        },
        series: [{
            name: 'Number of Stocks',
            color:(Highcharts.theme && Highcharts.theme.textColor),
            data: sCount
        }]
    });
    });
    </script>
    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    {% load staticfiles %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">

 <!-- Custom Fonts -->
    {% load staticfiles %}
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    {% load staticfiles %}
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

    <!-- Plugin CSS -->
    {% load staticfiles %}
    <link href="{% static 'vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    
    {% load staticfiles %}
    <link href="{% static 'css/creative.min.css' %}" rel="stylesheet">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        {% load staticfiles %}
        <a class="navbar-brand js-scroll-trigger" href="{% url 'homepage' %}">Home</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" href={homepage} aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand js-scroll-trigger" href="#page-top">{{username}}'s Dashboard</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Investment Strategies</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Help</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

  {% if investedAm > 0 %}
  <section class="bg-primary text-center">
      <div class="container" align="center">
        <h2 class="text-faded mb-4">Welome to the Portfolio!</h2>
      </div>
    </section>
    <br>
    {% if strategyset %}
        <div class="container">
          <div class="chart"><div id="container3"></div></div>
        </div>
  {% endif %}
    <section id="about">
      <div class="container">
          <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <!-- Include all compiled plugins (below), or include individual files as needed -->

            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <div class="container text-center">
              <h4 >
                Total Investment : ${{investedAm}}
              </h4>
            </div>
            <div class="row">
              <div class="col-md-6">
                  <div class="chart"><div id="container"></div></div>
              </div>
              
              <div class="col-md-6 gutter-fix">
                  <div class="chart"><div id="container2"></div></div>
              </div>
          </div>

          <script>
            $(window).on('resize',function() {
             var docHeight = $(window).height();
             var footerHeight = $('#footer').height();
             var footerTop = $('#footer').position().top + footerHeight;

             if (footerTop < docHeight) {
              $('#footer').css('margin-top', -30 + (docHeight - footerTop) + 'px');
             }
            });
            $(document).ready(function() {
                $(window).trigger('resize');
            });
          </script>
      </div>
    </section>
   
   
    <!-- Old Graph - moved to upper section
    <section id = "graph2">
     
     <div class="col-md-6 gutter-fix">
              <div class="row">
                <div class="col-md-12">

                </div>
              </div>
              <div class="row">
                <div class="chart"><div id="container2"></div></div>
              </div>
            </div>

    </section>-->
  {% else %}
    <section class="bg-primary" id="about">
      <div class="container" align ="center">
        <h2 class="text-faded mb-4">Welome to the Dashboard. Please invest to check portfolio</h2>
      </div>
    </section>
    {% endif %}

    <section class = "bg-dark text-white" id="services">
      <div class="container text-center">
        <style>
        input[type=text] {

    color: red;
}
        </style>
          <!-- <div class="row">
        <h3>Investment Strategies</h3>
      </div> -->

        <form action="/addstrategy?username={{username}}" method="POST">
          <div class="row">
            <div class="col-md-6">
            <fieldset>
              <h4>
            Investment in USD
          </h4>

            <input type="text" name="amount" id="amount" style="margin-bottom:10px;margin-top:10px">
            <br>
            <div>
            Choose Strategy
          </div>
          <div >
            {% for d in data %}
            <input  style="margin-top:20px;margin-bottom:10px" type="radio" name="strategy" value="{{ d }}"> {{d}}

            {% endfor %}
          </div>
            <input class="btn btn-primary btn-xl js-scroll-trigger" type="submit" value="Submit">
            </fieldset>

            </form>
          </div>
          <div class="col-md-6">
            <div class="col-lg-8 mx-auto text-center">
              <br><br>
              <h2 align="center"> Select Your Investment Strategy</h2>
            </div>
          </div>
        </div>
      </div>
    </section>

    




    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="vendor/scrollreveal/scrollreveal.min.js"></script>
    <script src="vendor/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="js/creative.min.js"></script>
    <section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <h2 class="section-heading">Help</h2>
        <hr class="my-4">
        <p class="mb-5">Any investment related queries or account support? Feel free to reach us!</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ml-auto text-center">
        <i class="fa fa-phone fa-3x mb-3 sr-contact"></i>
        <p>408-123-4223</p>
      </div>
      <div class="col-lg-4 mr-auto text-center">
        <i class="fa fa-envelope-o fa-3x mb-3 sr-contact"></i>
        <p>
          <a href="mailto:your-email@your-domain.com">support@stocksuggestions.com</a>
        </p>
      </div>
    </div>
  </div>
</section>

  </body>

</html>
